<div class="book-preview" data-tags='{{ include.post.tags | replace:"-/-", "-" }}'>
  <em class="muted">
    <i class="icon-kalendar"></i>{{ include.post.date | date: "%d. %m. %Y." }}
    <i class="icon-etc"></i>
    {% assign start=true %}
    {% for tag in include.post.tags %}
      {% assign match = tag | slice: 0, 4 %}
      {% if match == "bbb-"  %}
        {% unless start %}
          *
        {% endunless %}
        {% assign start=false %}
        {{ tag | replace: 'bbb-', '' | replace:'-', ' ' }}
      {% endif %}
    {% endfor %}
  </em><br>
  <a class="screen-only" href="{{ include.post.url }}">
    <em>{{ include.post.authors }}</em>
    <br>
    <strong> {{ include.post.title }} </strong>
  </a>
  <br>
  <p class="muted mt-0">
    {{ include.post.excerpt }}
    <br>
    [{% include component/read_time.html content=include.post.content english=page.english %}]
  </p>

</div>
