{% assign tags = site.tags | sort %}
{% for tag in tags %}
    {% assign match = tag[0] | slice: 0, 4 %}
    {% if match == include.prefix  %}
        {% assign tag_size = tag | last | size %}
        {% if tag_size >= include.min_size  %}
            {% assign span_class = "site-tag" %}
        {% else %}
            {% assign span_class = "site-tag hidden" %}
        {% endif %}
        <span class="{{ span_class }} {% cycle 'odd', 'even' %}">
            {% assign font_size = tag | last | size | times: 2 | plus: 8 %}
            {% if font_size > 29  %}
                {% assign font_size = 29 %}
            {% endif %}
            <a href="#" style="font-size:{{ font_size }}px; padding-left: {{ font_size }}px; padding-right: {{ font_size }}px;" data-tag='{{ tag[0] | replace:"-/-", "-" | replace: "&", "-" }}' class="inverted">
                {{ tag[0] | replace:include.prefix, ' ' | replace:'-', ' ' }}
            </a>
        </span>
    {% endif %}
{% endfor %}

{% if include.min_size > 1  %}
<span class="site-tag">
    <a class="prikazi-sve inverted" href="#">prikaži sve...</a>
</span>
{% endif %}