.pm-category-header {
  .section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
  }

  &#post-category-header {
    h3 {
      margin-top: 40px;
      text-transform: uppercase;
    }

    @media (max-width: 479px) {
      h3 {
        margin-top: 10px;
        a {
          font-size: 20px;
          font-weight: normal;
          letter-spacing: -1px;
        }
      }
    }
    .section-heading {
      margin-top: 0;
    }
    .post-meta {
      margin-bottom: 5px;
      padding-bottom: 0;
      color: @gray;
    }
  }

  .separator {
    color: #888;
    font-size: smaller;
    font-weight: bolder;
    position: relative;
    bottom: 2px;
  }
}

