{% assign directory_exists = false %}
{% assign directory_contents = site.array %}

{% if include.directory_path %}
  {% assign directory_path = include.directory_path %}
{% else if include.directory_name %}
  {% capture directory_path %}{% include media_file.html file_name=include.directory_name %}{% endcapture %}
{% endif %}

{% for static_file in site.static_files %}
  {% assign temp = static_file.path | split: directory_path  %}
  {% if temp.size == 2 %}
    {% assign directory_exists = true %}
    {% assign directory_contents = directory_contents | push: static_file.path %}
  {% endif %}
{% endfor %}