{% comment %}
  initializes global page variables:

  ppt_media_path
  ppt_parent
  ppt_header_img

  ppt_gps_map_exists    - presence of /category/slug/page.file_name.gps_track  (track.kml)
  ppt_gps_map_path
  ppt_jpg_map_exists    - presence of /category/slug/page.file_name.jpg_map    (track.jpg)
  ppt_jpg_map_path
  ppt_map_exists        - presence of any map format
  ppt_stats_exist       - presence of /category/slug/page.file_name.stats      (stats.png)
  ppt_stats_path
  ppt_gallery_exists    - presence of /category/slug/img/any-file
  ppt_gallery_path
  ppt_thumbs_path
  ppt_gallery_contents  - array of file paths
{% endcomment %}


{% if page.is_post %}
  {% assign ppt_media_path = "/" | append: page.categories.first | append: "/" | append: page.slug %}
{% else %}
  {% assign ppt_media_path = "/" | append: page.slug %}
{% endif %}

{% if page.is_post %}
  {% for p in site.pages %}
    {% if p.slug == page.categories.first %}
      {% assign ppt_parent = p %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.file_name.header_img %}
  {% assign ppt_header_img = ppt_media_path | append: "/" | append: page.file_name.header_img %}
{% elsif ppt_parent %}
  {% assign ppt_header_img = "/" | append: ppt_parent.slug | append: "/" | append: ppt_parent.file_name.header_img %}
{% else %}
  {% assign ppt_header_img = "assets/img/vezirova_brada.jpg" %}
{% endif %}


{% include file_exists.html file_name = page.file_name.gps_track %}
{% assign ppt_gps_map_exists = file_exists %}

{% if ppt_gps_map_exists %}
  {% assign ppt_map_exists = ppt_gps_map_exists %}
  {% assign ppt_gps_map_path = file_path %}
{% else %}
  {% include file_exists.html file_name=page.file_name.jpg_map %}
  {% assign ppt_jpg_map_exists = file_exists %}
  {% assign ppt_map_exists = ppt_jpg_map_exists %}
  {% if ppt_gps_map_exists %}
    {% assign ppt_jpg_map_path = file_path %}
  {% endif %}
{% endif %}


{% include file_exists.html file_name = page.file_name.stats %}
{% assign ppt_stats_exist = file_exists %}
{% if ppt_stats_exist %}
  {% assign ppt_stats_path = file_path %}
{% endif %}

{% include directory_exists.html directory_name="img" %}
{% assign ppt_gallery_exists = directory_exists %}
{% if ppt_gallery_exists %}
  {% assign ppt_gallery_path = directory_path %}
  {% assign ppt_thumbs_path = directory_path | replace: "/img", "/thumbs"  %}
  {% assign ppt_gallery_contents = directory_contents %}
{% endif %}