---
layout: page
title: perpetuum mobile
excerpt:     "stalno u pokretu"
---

<div class="spacer"></div>

{% for post in paginator.posts %}

{% assign category = post.categories.first %}
{% include find_parent.html category=category %}

{% if post.image %}
  {% assign post_header_img = post.image %}
{% else %}
  {% assign post_header_img = parent.image %}
{% endif %}

<div class="post-preview">
  <span class="post-meta">
    {{ post.date | date: "%d. %m. %Y." }}
    <span class="category"><a href="{{ parent.url }}">{{ parent.title }}</a></span>
  </span>

  <a href="{{ post.url }}">
    <img src="{{ post_header_img | replace: '/img/', '/thumbs_200/' }}" class="pull-right" style="width: 160px; height: 120px;">
    <h2 class="post-title"> {{ post.title }}
    </h2>
    {% if post.description %}
    <h3 class="post-subtitle">
      {{ post.description }}
    </h3>
    {% endif %}
  </a>

  <p class="post-meta">
    {{ post.excerpt }}
    <br>
    <br>
    {% include read_time.html content = post.content %}
  </p>
</div>
<hr style="clear: both;">
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&larr; noviji tekstovi</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | replace: '//', '/' }}">stariji tekstovi &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}