{% assign category = post.categories.first %}
{% include find_parent.html category=category %}

{% if post.image %}
  {% assign post_header_img = post.image %}
{% else %}
  {% assign post_header_img = parent.image %}
{% endif %}


<div class="post-preview">
  {% unless post.show_date == false %}
    <p class="post-meta date">{{ post.date | date: "%d. %m. %Y." }}</p>
  {% endunless %}
  <a class="screen-only" href="{{ post.url }}">
    <img src="{{ post_header_img | replace: '/img/', '/thumbs_200/' }}" class="pull-right" style="width: 160px; height: 120px;">
    <h2 class="post-title"> {{ post.title }} </h2>
    {% if post.excerpt %}
      <h3 class="post-subtitle">{{ post.excerpt }}</h3>
    {% endif %}
  </a>
  <span class="for-print">
    <img src="{{ post_header_img | replace: '/img/', '/thumbs_200/' }}" class="pull-right" style="width: 160px; height: 120px;">
    <h2 class="post-title"> {{ post.title }} </h2>
    {% if post.excerpt %}
      <h3 class="post-subtitle">{{ post.excerpt }}</h3>
    {% endif %}
  </span>
  <p class="post-meta">
    {% if post.description %}
      {{ post.description | strip_html }}<br>
    {% endif %}
    <span class="screen-only">
      <br>
      {% if post.has_subcategories %}
        {% assign time = 0 %}
        {% for p in site.categories[post.slug] %}
          {% assign time = p.content | number_of_words | divided_by:170 | plus: time %}
        {% endfor %}
        vreme čitanja: ~ {{ time }} min.

      {% else %}
        {% include read_time.html content = post.content %}
      {% endif %}
    </span>
  </p>
</div>
<hr class="clearfix">