{% assign category = post.categories.first %}
{% include find_parent.html category=category %}

{% if post.image %}
  {% assign post_header_img = post.image %}
{% else %}
  {% assign post_header_img = parent.image %}
{% endif %}


<div class="post-preview">
  {% unless post.show_date == false %}
    <p class="post-meta date">{{ post.date | date: "%d. %m. %Y." }}</p>
  {% endunless %}
  <a href="{{ post.url }}">
    <img src="{{ post_header_img | replace: '/img/', '/thumbs_200/' }}" class="pull-right" style="width: 160px; height: 120px;">
    <h2 class="post-title"> {{ post.title }} </h2>
    {% if post.excerpt %}
      <h3 class="post-subtitle">{{ post.excerpt }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">
    {{ post.description | strip_html }}
    <br>
    <br>
    {% include read_time.html content = post.content %}
  </p>
</div>
<hr class="clearfix">