{% assign count = 1 %}

{% if ppt_map_exists %}{% assign count = count | plus: 1 %}{% endif %}
{% if ppt_stats_exist %}{% assign count = count | plus: 1 %}{% endif %}
{% if ppt_gallery_exists %}{% assign count = count | plus: 1 %}{% endif %}
{% if page.videos %}{% assign count = count | plus: 1 %}{% endif %}


{% if count > 1 %}
<div id="affix-sidebar-labels">
  <div data-spy="affix" data-offset-top="205">
    <span>tekst</span><br/>
    {% if ppt_map_exists %}<span>mapa</span><br/>{% endif %}
    {% if ppt_stats_exist %}<span>statistike</span><br/>{% endif %}
    {% if ppt_gallery_exists %}<span>galerija</span><br/>{% endif %}
    {% if page.videos %}<span>video</span>{% endif %}
  </div>
</div>

<nav id="affix-sidebar">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
    <li class="active">
      <a id='sidebar-text' title="tekst" href="#text"><i class="icon-tekst"></i></a>
    </li>
    {% if ppt_map_exists %}
    <li>
      <a id='sidebar-map' title="mapa" href="#map"><i class="icon-mapa"></i></a>
    </li>
    {% endif %}
    {% if ppt_stats_exist %}
    <li>
      <a id='sidebar-stats' title="statistike" href="#stats"><i class="icon-statistike"></i></a>
    </li>
    {% endif %}
    {% if ppt_gallery_exists %}
    <li>
      <a id='sidebar-pics' title="galerija" href="#pics"><i class="icon-slike"></i></a>
    </li>
    {% endif %}
    {% if page.videos %}
    <li>
      <a id='sidebar-vids' title="video" href="#vids"><i class="icon-video"></i></a>
    </li>
    {% endif %}
  </ul>
</nav>

<script>
  $('[data-spy="affix"]').attr('data-offset-top', window.innerHeight - 50);
  //  $('.affix').css('top', window.innerHeight+20);
</script>
{% endif %}