<div id="post-category-header" class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <h3><a href="{{ ppt_parent.url }}">{{ ppt_parent.title }}</a></h3>
      <div class="text-muted">{{ ppt_parent.description }}</div>

      {% include layout/post/navigation.html %}
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% unless page.show_date == false %}
        <p class="post-meta">{{ page.date | date: "%d. %m. %Y." }}</p>
      {% endunless %}
      <h2 class="section-heading">{{ page.title }}</h2>
    </div>
  </div>
</div>