{% include layout/content/sidebar.html %}

{% if ppt_map_exists %}
  {% include layout/content/map.html %}
{% endif %}

{% if ppt_stats_exist %}
  {% include layout/content/stats.html %}
{% endif %}

{% if ppt_gallery_exists %}
  {% include layout/content/gallery.html %}
{% endif %}

{% if page.videos %}
  {% include layout/content/videos.html %}
{% endif %}


<div id="text" class="content">
{% if page.is_post %}

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          {{ content }}

          {% include layout/post/media_footer.html %}
          <hr>
        </div>
      </div>
    </div>
  </article>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% include layout/post/navigation.html %}
      </div>
    </div>
  </div>

  {% if page.comments %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="fb-wrapper">
          <h3>Komentari, ispravke i dopune su dobrodošli...</h3>
          <div class="fb-comments" data-href="{{ page.url | prepend: site.url}}" data-width="100%"></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% include layout/post/related_posts_listing.html %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="col-sm-6">
          {% include layout/post/category_listing.html %}
        </div>
        <div class="col-sm-6">
          <!--<h3>Pretraga</h3>-->
          <!--{% include layout/content/search.html %}-->
        </div>

      </div>
    </div>
  </div>

{% else %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ content }}

        {% include layout/post/media_footer.html %}
        <hr>

        {% for post in site.categories[page.slug] reversed %}
        {% include layout/content/post_preview.html %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endif %}

</div>