<div class="simple-head">
    <img src={{ page.animation.url }} height={{ page.animation.height }} width={{ page.animation.width }} />
    <br>
    <div id="moto">stalno u pokretu</div>
    {% unless page.home_page %}
        <ul class="menu">
            <li><a href="/" title="početna strana"><i class="icon-naslovna"></i></a></li>
            <li><a href="/putopisi/" title="putopisi"><i class="icon-drumoplov"></i></a></li>
            <li><a href="/zanimljiva_mesta/" title="zanimljiva mesta"><i class="icon-mapa"></i></a></li>
            <li><a href="/video.html" title="video klipovi"><i class="icon-video"></i></a></li>
            <!--<li><a id="item-razno" href="#" title="razno"><i>...</i></a>-->
                <!--<ul id="razno" class="list-unstyled hidden">-->
                    <!--&lt;!&ndash;<li><a href="/razno/oprema/" title="oprema i pakovanje"><i class="icon-kampovanje"></i></a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="/u_prirodi_sa_decom.html" title="u prirodi sa decom"><i class="icon-dete"></i></a></li>&ndash;&gt;-->
                    <!--<li><a href="/knjige.html" title="knjige"><i class="icon-knjige"></i></a></li>-->
                    <!--&lt;!&ndash;<li><a href="/filmovi.html" title="filmovi"><i class="icon-filmovi"></i></a></li>&ndash;&gt;-->
                    <!--<li><a href="/tech.html" title="it & tech"><i class="icon-tech"></i></a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    {% endunless %}
</div>