<div class="content">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p id="privacy-disclaimer">Ovaj sajt ne sadrži first party kukije i druge mehanizme za aktivno praćenje poseta/ponašanja
                (facebook, google analytics, itd...). Na nekim stranicama se nalaze embedovani youtube video klipovi i google mape koji
                učitavaju svoje kukije.</p>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/vendor.min.js"></script>
<script src="/assets/js/perpetuum-mobile.min.js"></script>