<div class="container home-header">
    <div class="row">
        <div class="col-sm-6 right">
            <img src={{ page.animation.url }} height={{ page.animation.height }} width={{ page.animation.width }} />
            {% include header/moto.html %}
        </div>
        <div class="col-sm-6 left">
            {% include header/main_menu.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 separator">
            {% include header/moto.html %}
            <hr>
        </div>
    </div>
</div>
