{% if page.home_page %}
    {% assign css="expanded" %}
{% else %}
    {% assign css="collapsed" %}
{% endif %}
<ul class="menu {{css}} {{include.css}}">
    {% for item in site.data.navigation %}

      {% if forloop.index == 5 and css == "collapsed" %}
</ul>
<ul class="menu {{css}} {{include.css}}">
      {% endif %}

      {% if page.english %}
        {% assign title=item.en %}
      {% else %}
        {% assign title=item.sr %}
      {% endif %}

      {% if page.slug == item.url %}
        {% assign inner_css="active_page" %}
      {% elsif page.subtype == item.subtype %}
        {% assign inner_css="active_subtype" %}
      {% else %}
        {% assign inner_css="" %}
      {% endif %}

      {% unless page.home_page and item.url == "" %}
        {% if item.subtype != "vrh" or include.vrh_strane  %}
            <li><a href="/{{item.url}}" title="{{title}}" class="inverted {{inner_css}} {{item.subtype}}"><i class="{{item.icon}}"></i><span>{{title}}</span></a></li>
        {% endif %}
      {% endunless %}
    {% endfor %}
</ul>