<!-- Navigation -->
<nav id="main-navbar" class="navbar navbar-default ppt-navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ppt-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="ppt-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a title="naslovna strana" href="/"><i class="icon-naslovna"><span>početak</span></i></a></li>
        <li><a title="putopisi" href="/putopisi/"><i class="icon-drumoplov"><span>putopisi</span></i></a></li>
        <li><a title="zanimljiva mesta" href="/zanimljiva_mesta/"><i class="icon-mapa"><span>zanimljiva mesta</span></i></a></li>
        <li><a title="video" href="/video.html"><i class="icon-video"><span>video</span></i></a></li>
        <li><a title="/etc/" href="/etc/"><i class="icon-etc"></i><span>/etc/</span></a></li>
        <li><a title="knjige" href="/knjige/"><i class="icon-knjige"></i><span>knjige</span></a></li>
        <li><a title="it & tech" href="/tech/"><i class="icon-tech"></i><span>it & tech</span></a></li>
        <!--<li><a title="drumoplov" href="{{ '/drumoplov' | prepend: site.baseurl }}"><i class="icon-drumoplov"><span>drumoplov</span></i></a></li>-->
        <!--<li><a title="šetnje" href="{{ '/setnje' | prepend: site.baseurl }}"><i class="icon-planinarenje"><span>šetnje</span></i></a></li>-->
        <!--<li><a title="putovanja" href="{{ '/putovanja' | prepend: site.baseurl }}"><i class="icon-putovanje"><span>putovanja</span></i></a></li>-->
        <!--<li><a title="kalendar" href="{{ '/kalendar' | prepend: site.baseurl }}"><i class="icon-kalendar"><span>kalendar</span></i></a></li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
