{% include scripts/matching_posts.html  %}

{% unless matching_posts == site.array %}
  <div class="container related-posts-listing">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if page.subtype == "knjige" %}
          <span class="post-previews">
            <h2>Slične knjige</h2>
            <br>
            {% for p in matching_posts %}
              {% include component/preview/book.html post=p %}
            {% endfor %}
          </span>

        {% else %}
          <span class="post-previews">
            {% unless page.category == "zanimljiva_mesta" %}
              {% if page.english %}
                <h2>Related posts</h2>
              {% else %}
                <h2>Srodni tekstovi</h2>
              {% endif %}
            {% endunless %}
            {% for post in matching_posts %}
              {% include component/preview/default.html %}
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
{% endunless %}