---
layout: default
---

<div id="text" class="content">

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {{ content }}

        <hr style="clear: both;">
      </div>
    </div>
  </div>
</article>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% include layout/post/navigation.html %}
    </div>
  </div>
</div>

{% if page.comments %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="fb-wrapper">
        <div class="fb-comments" data-href="{{ page.url | prepend: site.url}}" data-width="100%"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% include layout/post/category_listing.html %}
    </div>
  </div>
</div>


<hr>
</div>