<!DOCTYPE html>
<html lang="sr">
{% include layout/head.html %}
<body>
{% include initialize.html %}

{% include layout/header/nav.html %}

<header class="intro-header" style="background-image: url('{{ ppt_header_img }}')">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% include layout/content/search.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  $('header.intro-header').css('height', window.innerHeight);
  $('header.intro-header .overlay').css('height', window.innerHeight);

  $(document).on('click', '#hits', function (e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $('#rezultati-pretrage').offset().top
    }, 500);
  });
</script>

<br>
<br>

<div id="text" class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ content }}
      </div>
    </div>
  </div>
</div>


{% include layout/footer.html %}

{% include layout/services/ga.html %}
</body>

</html>
