---
layout: default
---

{% include layout/content/sidebar.html %}

{% if ppt_map_exists %}
{% include layout/content/map.html %}
{% endif %}

{% if ppt_stats_exist %}
{% include layout/content/stats.html %}
{% endif %}

{% if ppt_gallery_exists %}
{% include layout/content/gallery.html %}
{% endif %}

{% if page.videos %}
{% include layout/content/videos.html %}
{% endif %}

{{ content }}

{% include layout/post/media_footer.html %}
<hr class="screen-only">

<span class="post-previews">
  {% for post in site.categories[page.slug] reversed %}
  {% include layout/content/post_preview.html %}
  {% endfor %}
</span>
